[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
pyjwt = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-extensions = "*"
dj-database-url = "*"
psycopg2-binary = "*"
python-decouple = "*"
coveralls = "*"
coverage = "*"
gunicorn = "*"
django-heroku = "*"
pipenv-to-requirements = "*"
django-rest-swagger = "*"
facebook-sdk = "*"
google-api-python-client = "*"
python-twitter = "*"

[requires]
python_version = "3.6.5"
